.navbar-brand{
    font-size: 50;
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: solid;
    font-color: black;
    font-weight: bold;
}

.body {
    background-color:#F84C2F;
}

.col-sm-16 {
    background-color: white; 
    margin-top: -2px
}

h2{
    margin-bottom: 120px; 
    margin-top: 40px; 
    text-align:center; 
    font-size: 32px; 
    color:white; 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #F84C2F;
}

.p-2{
    background-color: #EADDDD; 
    margin-bottom: 20px; color: black; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -14px;

}

.p-4{
    background-color: #EADDDD; 
    margin-bottom: 20px; color: black; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer{
    background-color: #F84C2F;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background-color: gray;
}

.divider2:after,
.divider2:before {
content: "";
flex: 1;
height: 1px;
background-color: white;
}